<div class="alert alert-danger" role="alert" ng-hide="roomIsActive">
  <b>Oh snap! This site is no longer active. </b> Shervin finished his internship on 8/22/14 and cleaned up the sensors.  He'll be back 1/12/15 as a full-timer though!
  <br/><br/>
  If you'd like to work with any IoT devices or have ideas contact Alex (alex.huitric@citrix.com). You can check them out and build cool stuff!
</div>

<div class="row text-center">
  <img src="images/GameRoomIcon.png" alt="Game Room Activity">
</div>
<h3 class="roboto-title">GAME ROOM ACTIVITY</h3>
<h4 class="roboto-subtitle">Building 8</h4>

<img src="images/GameOn.gif" alt="Someone is playing" ng-show="roomIsActive"></img>
<img src="images/Free.png" alt="Table is Free" ng-hide="roomIsActive"></img>

<div class="row text-center" ng-show="roomIsActive">
  <button ng-click="sendYo()" class="btn btn-default submit-yo roboto-f-title">Game On. Send me a YO when free.</button>
</div>

<div class="row marketing text-center">
  <h4 class="roboto-f-title">Feedback, Comments, and Ideas?</h4>
  <p class="roboto-f-subtitle">
    If you have anything to say please email shervin.shaikh@citrix.com!
  </p>
  <br/>
  <h4 class="roboto-f-title">Other Projects</h4>
  <p>
    <a href="https://podio.com/citrix/internet-of-things/apps/projects/items/1"><b class="roboto-f-subtitle">Food in the Break Room Notifier</b></a>
  </p>
</div>

<div class="footer roboto">
  <p>Created by Shervin Shaikh (Intern) and Yogesh Moorjani.</p>
</div>


<script type="text/javascript">
  var _yoData = {
    "username": "CITRIXKITCHEN",
    "trigger": "Food in Bldg 8 Kitchen"
  };
  var s = document.createElement("script");
  s.type = "text/javascript";
  s.src = "//yoapp.s3.amazonaws.com/js/yo-button.js";
  (document.head || document.getElementsByTagName("head")[0]).appendChild(s);
</script>