<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <!-- <li><a ng-href="#">Contact</a></li> -->
  </ul>
  <h3 class="text-muted">Game Room Activity (Bldg 8)</h3>
</div>

<div class="jumbotron" ng-class="room1">
  Game Room
</div>

<!-- <div class="col-md-2"></div> -->

<!--div class="col-md-5 jumbotron" ng-class="room2">
  Room 2
</div-->

<div class="row marketing">
  <h4>Yo!</h4>
  <p>
    <div id="yo-button"></div>
  </p>
  <h4>Coming Soon</h4>
  <p>
    Temperature, Humidity, and Lux values.
  </p>
  <h4>Feedback, Comments, and Ideas?</h4>
  <p>
    If you have anything to say please email shervin.shaikh@citrix.com!
  </p>
</div>

<div class="footer">
  <p>Created by Shervin Shaikh (Intern).</p>
</div>


<script type="text/javascript">
  var _yoData = {
    "username": "CITRIXKITCHEN",
    "trigger": "Food in Bldg 8 Kitchen"
  };
  var s = document.createElement("script");
  s.type = "text/javascript";
  s.src = "//yoapp.s3.amazonaws.com/js/yo-button.js";
  (document.head || document.getElementsByTagName("head")[0]).appendChild(s);
</script>